*{
  background-color: #F7F7F7;
}


#cookieTable{
  background-color: #5C80BC;
  border-color: #30323D;
  vertical-align: middle;
  color: #30323D;
  text-align: center;
  font-family: Helvetica, Verdana, sans-serif;
}


