body{
  background-color: #F7F7F7;
  background-image: url('img/orangerain.jpg');
  background-size: 1400px;
}

#storeData {
  height: 400px;
  width: 900px;
}
#update{
  background-color: rgba(247, 247, 247, .75);
  width: 200px;
  height: 200px;
  top: 250px;
  left: 125px;
  border-style: hidden;
  position: absolute;
  padding: 4%;
}

#cookieTable{
  padding: 4%;
  position: absolute;
  top: 300px;
  right: 125px;
  vertical-align: middle;
  background-color: rgba(247, 247, 247, .75 );
  color: #30323D;
  text-align: center;
  font-family: Helvetica, Verdana, sans-serif;
}


